:root {
}





.slider {
    font-size: 30px;
    color: rgb(0, 0, 0);
    width: 750px;
    left: 50px;
    margin-left: -25px;
}

.button {
    width: 225px;
    font-size: 25px;
    height: 75px;
    transition-duration: 0.35s;
}

.button:hover {
    background-color: rgb(255, 146, 146);
}


